.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 7px 15px;

    box-sizing: border-box;

    min-width: 130px;
    min-height: 55px;

    background-color: var(--ui-shade-3);
}

.boardContainer {
    display: flex;
    width: 100%;
}

.chessboardWrapper {
    position: relative;
    flex-shrink: 0;
}

/*
 * NÚMEROS 8-1
 *
 * Flotan a la izquierda
 * del tablero.
 *
 * No afectan a su tamaño.
 */
.rankCoordinates {
    position: absolute;

    top: 0;
    left: -22px;

    display: grid;

    grid-template-rows:
        repeat(8, 1fr);

    width: 18px;
    height: 100%;

    color:
        rgba(255, 255, 255, 0.65);

    font-size: 0.75rem;

    font-weight: 600;

    pointer-events: none;

    user-select: none;
}


/*
 * LETRAS A-H
 *
 * Flotan debajo
 * del tablero.
 */
.fileCoordinates {
    position: absolute;

    bottom: -22px;
    left: 0;

    display: grid;

    grid-template-columns:
        repeat(8, 1fr);

    width: 100%;
    height: 18px;

    color:
        rgba(255, 255, 255, 0.65);

    font-size: 0.75rem;

    font-weight: 600;

    pointer-events: none;

    user-select: none;
}


/*
 * Centrado de cada número/letra.
 */
.coordinate {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}